Skip to content
This repository
Search
Pull requests
Issues
Gist
 @ckroll17
 Sign out
 Watch 201
  Star 4,576
  Fork 3,443 wesbos/JavaScript30
 Code  Pull requests 2  Projects 0  Wiki  Pulse  Graphs
Branch: master Find file Copy pathJavaScript30/01 - JavaScript Drum Kit/style.css
8b09f1d  on Jan 2
 Francisco Dias converted to rems and added a space between `rule: value`
1 contributor
RawBlameHistory
51 lines (45 sloc)  813 Bytes
html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
